.profiles-header
  .left
    %h1 Профили
    .profiles-info.muted-text
      %strong= "Всего профилей:"
      %span= User.all.length
  .right
    - if current_user.director?
      .material-symbols-outlined.new-user.plus-btn-primary add

.table-block
  %table
    %thead
      %tr
        %th Имя
        %th Фамилия
        %th Роль
        %th Почта
        - if current_user.director?
          %th Логин
          %th Пароль
    %tbody
      - @users.each do |user|
        - profile_row_class = (user.id == current_user.id || current_user.director?) ? "profile-row" : ""
        %tr{ class: profile_row_class, data: { user_id: user.id } }
          %td= user.firstname
          %td= user.lastname
          %td= user.role_name
          %td= user.email
          - if current_user.director?
            %td= user.login
            %td= "*****"