- sold_products = SellProduct.all
%main
  %h1.header-block{ style: "height: 72px;margin-bottom: 5px !important; display: flex; align-items: center;" } Главная
  .insights-block
    -# %h2 Информация
    .insights
      = link_to products_path do
        .expenses-card.card-block
          .material-symbols-outlined.card-icon.bgc-danger account_balance
          .middle 
            .left
              %h1 Расходы
              .total-sales= "#{product_expenses} ₽"
            .progress-info
              .progress-info-percents
          %small.muted-text
            За все время

      = link_to products_path do
        .sales-card.card-block
          .material-symbols-outlined.card-icon.bgc-primary payments
          .middle 
            .left
              %h1 Продажи
              .total-sales= "#{product_income} ₽"
            .progress-info
              .progress-info-percents 
          %small.muted-text
            За все время

      .income-card.card-block
        .material-symbols-outlined.card-icon.bgc-success currency_ruble
        .middle 
          .left
            %h1 Доход
            .total-sales= "#{product_income - product_expenses} ₽"
          .progress-info
            %h1.progress-info-percents
              - if product_income != 0 && product_expenses != 0
                - if product_income > product_expenses
                  .success{ style: "font-size: 20px !important;" }= "+ #{((product_income.to_f / product_expenses.to_f) * 100).round(2) } %"
                - else
                  .danger{ style: "font-size: 20px !important;" }= "- #{((product_expenses.to_f / product_income.to_f) * 100).round(2) } %"
        %small.muted-text
          За все время

  .last-deals 
    %h2
      = "Продажи"
      %small (последние 50)
    .table-block
      %table
        %thead
          %tr
            %th.text-center{ width: '5%' } #
            %th{ width: '35%' } Товар
            %th.hide-on-mobile{ width: '50%' } Описание
            %th.text-center.hide-on-mobile{ width: '5%' } Продал
            %th.text-center{ width: '10%' } Стоимость
            %th.text-center{ width: '10%' } Статус
        %tbody
          - i = 1
          - sold_products.each do |sd|
            - product = Product.find_by(id: sd.product_id)
            %tr
              %td.text-center= i
              %td= product.product_name
              %td.hide-on-mobile= product.description
              %td.text-center.hide-on-mobile
                = link_to user_profile_path(id: sd.user_id), style: "display: ruby;" do
                  = user_profile_photo sd.user_id
              %td.text-center= "#{sd.sell_price} ₽"
              %td.text-center
                %span.success Продано
            - i += 1

    -# .show-all-deals
    -#   Показать все

